body {
        font-family:"trebuchet ms",sans-serif;
        font-size:90%;
        }
form {text-align: center;
                background-color:#FAFAFA;
                padding:10px;
                width:280px;
                }
button{
                        background-color: lightcoral;
                        color: rgb(122, 21, 21);
                        padding: 10px 30px;
                        border:0px;
                        height: 50px;
                        cursor: pointer;
                        margin-top: 15px;
                        font-size: 18px;
                        border-radius: 6px;
                        
                        
                        }  
input{

                width: 100%;
                margin-top: 25px;
                padding: 5px 15px;
                box-sizing: border-box;
                line-height: 2;
                font-size:16px;
                background: #ecf0f1;
                border: 2px solid rgba(216, 216, 216, 0.3);
                border-radius: 6px;
                }
p{ width: 100%;
        margin-top: 25px;
        padding: 5px 15px;
        box-sizing: border-box;
        line-height: 2;
        font-size:16px;
        background: #ecf0f1;
        border: 2px solid rgba(216, 216, 216, 0.3);
        border-radius: 6px;}
label{ width: 100%;
        margin-top: 25px;
        padding: 5px 15px;
        box-sizing: border-box;
        line-height: 2;
        font-size:16px;
        background: #ecf0f1;
        border: 2px solid rgba(216, 216, 216, 0.3);
        border-radius: 6px;}
#country{ width: 100%;
                margin-top: 25px;
                padding: 5px 15px;
                box-sizing: border-box;
                line-height: 2;
                font-size:16px;
                background: #ecf0f1;
                border: 2px solid rgba(216, 216, 216, 0.3);
                border-radius: 6px;}
 form{display:flex;
flex-direction: column;
width: 100%;
                margin-top: 25px;
                padding: 5px 15px;
                box-sizing: border-box;
                line-height: 2;
                font-size:16px;
                background: #02bbe9;
                border: 2px solid rgba(216, 216, 216, 0.3);
                border-radius: 6px}